---
import Layout from "../../layouts/Layout.astro";
import Container from "../../components/Container.astro";
import ArticleCard from "../../components/ArticleCard.astro";
import { formatArticles } from "../../js/utils";
import ContainerBG from "../../components/ContainerBG.astro";

const allPosts = await Astro.glob("./*.mdx");

const formattedArticles = formatArticles(allPosts);
console.log("here");
console.log(formattedArticles);
---

<Layout title="Kelmac Group® | News and Articles">
  <ContainerBG classes="hero-small" isDark background="city.png">
    <h1 class="h1">News and Articles from the Kelmac Group®</h1>
  </ContainerBG>
  <Container>
    <div class="card-container">
      {
        formattedArticles.map((post) => {
          console.log(post.frontmatter);
          return (
            <ArticleCard
              title={post.frontmatter.title}
              description={post.frontmatter.description}
              category={post.frontmatter.category}
              standard={post.frontmatter.standard}
              url={post.url}
              image={post.frontmatter.image}
              date={post.frontmatter.date}
              author={post.frontmatter.author}
            />
          );
        })
      }
    </div>
  </Container>
</Layout>

<style>
  .card-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
</style>
