---
import Layout from "../../layouts/Layout.astro";
import ContainerBG from "../../components/ContainerBG.astro";
import Container from "../../components/Container.astro";
import ArticleCard from "../../components/ArticleCard.astro";

import { slugify, formatArticles } from "../../js/utils";

export async function getStaticPaths() {
  const allPosts = await Astro.glob("../news-articles/*.mdx");
  const formattedArticles = formatArticles(allPosts);

  const allAuthors = [
    ...new Set(
      formattedArticles.map((article) => article.frontmatter.author).flat()
    ),
  ];

  return allAuthors.map((author) => {
    const authorPosts = formattedArticles.filter(
      (article) => article.frontmatter.author === author
    );

    return {
      params: { author: slugify(author) },
      props: {
        authorName: author,
        posts: authorPosts,
      },
    };
  });
}
const { author } = Astro.params;
const { posts, authorName } = Astro.props;
---

<Layout title="Kelmac Group® | News and Articles">
  <ContainerBG classes="hero-small" isDark background="city.png">
    <h1 class="h1">Articles written by {authorName}</h1>
  </ContainerBG>
  <Container>
    <div class="card-container">
      {
        posts.map((post) => {
          return (
            <ArticleCard
              title={post.frontmatter.title}
              description={post.frontmatter.description}
              category={post.frontmatter.category}
              standard={post.frontmatter.standard}
              url={post.url}
              image={post.frontmatter.image}
              date={post.frontmatter.date}
              author={post.frontmatter.author}
            />
          );
        })
      }
    </div>
  </Container>
</Layout>

<style>
  .card-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
</style>
