---
import Container from "../../components/Container.astro";
import CourseCard from "../../components/CourseCard.astro";
import qmsCourseCardData from "../../data/qmsCourseCard";
import ismsCourseCardData from "../../data/ismsCourseCard";
import emsCourseCardData from "../../data/emsCourseCard";
import ohsmsCourseCardData from "../../data/ohsmsCourseCard";
import fsmsCourseCardData from "../../data/fsmsCourseCard";
import mdqmsCourseCardData from "../../data/mdqmsCourseCard";
import CoursePageAside from "../../components/CoursePageAside.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Kelmac Group® | Courses Offered">
  <Container isDark classes="hero-small">
    <h1 class="h1-lg">Our Courses</h1>
    <p class="hero-p">
      We specialise in Conformity & Compliance learning for Executive
      Management, Practitioners & Auditors offering “The Ultimate Learning
      Experience”
    </p>
  </Container>

  <div class="course-grid">
    <div>
      <CoursePageAside />
    </div>
    <Container>
      <h2 class="h2" id="9001">ISO 9001 Quality Management Training Courses</h2>
      <p>
        ISO 9001:2015 specifies quality system requirements to be used where an
        organization requires the ability to consistently provide conforming
        products, either material or services to meet a customer’s expectations.
        The ISO 9001 quality system requirements are aimed at achieving customer
        satisfaction by preventing nonconformances.
      </p>

      <p>
        The ISO 9001:2015 standard provides a model on which an organization may
        build an effective quality management system. ISO 9001 training courses
        provide you the knowledge and experience you need to reach the heights
        of success through quality.
      </p>

      {
        qmsCourseCardData.map((course) => {
          return (
            <CourseCard
              name={course.name}
              description={course.description}
              duration={course.duration}
              deliveryMethods={course.deliveryMethods}
              certifier={course.certifier}
              cqiID={course.cqiID}
              url={course.url}
            />
          );
        })
      }
      <h2 class="h2" id="27001">
        ISO/IEC 27001 Information Security Management Systems
      </h2>
      <p>
        ISO 27001 is the international standard for Information Security
        Management Systems (ISMS) based largely upon the previously adopted BS
        7799 used commonly since 1995 for managing information security. ISO
        27001 provides the framework for a technology neutral, vendor-neutral
        management system that enables an organization to assure itself that its
        information security measures are effective. This includes the continued
        accessibility, confidentiality and integrity of its own information and
        that of its stakeholders as well as legal compliance.
      </p>
      {
        ismsCourseCardData.map((course) => {
          return (
            <CourseCard
              name={course.name}
              description={course.description}
              duration={course.duration}
              deliveryMethods={course.deliveryMethods}
              certifier={course.certifier}
              cqiID={course.cqiID}
              url={course.url}
            />
          );
        })
      }
      <h2 class="h2" id="14001">ISO 14001 Environmental Management Systems</h2>
      <p>
        ISO 14000 is a family of ISO standards that applies to environmental
        management systems. ISO 14001 consists of two general standards. ISO
        14001 lists the requirements necessary for an EMS system to be
        ISO-compliant, while 14004 provides general guidelines for EMS quality.
        Other ISO 14001 standards are more industry-specific in nature.
      </p>
      {
        emsCourseCardData.map((course) => {
          return (
            <CourseCard
              name={course.name}
              description={course.description}
              duration={course.duration}
              deliveryMethods={course.deliveryMethods}
              certifier={course.certifier}
              cqiID={course.cqiID}
              url={course.url}
            />
          );
        })
      }
      <h2 class="h2" id="45001">
        ISO 45001 Occupational Health & Safety Management Systems
      </h2>
      <p></p>
      {
        ohsmsCourseCardData.map((course) => {
          return (
            <CourseCard
              name={course.name}
              description={course.description}
              duration={course.duration}
              deliveryMethods={course.deliveryMethods}
              certifier={course.certifier}
              cqiID={course.cqiID}
              url={course.url}
            />
          );
        })
      }
      <h2 class="h2" id="22000">
        ISO/FSSC 22000 Food Safety Management Systems
      </h2>
      <p></p>
      {
        fsmsCourseCardData.map((course) => {
          return (
            <CourseCard
              name={course.name}
              description={course.description}
              duration={course.duration}
              deliveryMethods={course.deliveryMethods}
              certifier={course.certifier}
              cqiID={course.cqiID}
              url={course.url}
            />
          );
        })
      }
      <h2 class="h2" id="13485">
        ISO 13485 Medical Devices Quality Management Systems
      </h2>
      <p>
        There is probably no other industry where the importance of product
        conformity is as crucial as that in the design and manufacture of
        medical devices. Standards in any industry are an important way both to
        safeguard product conformity while simultaneously harmonizing
        requirements, not only nationally, but internationally as well.
      </p>

      <p>
        An important step in safeguarding product conformity and ensuring that a
        manufacturing or design process can consistently produce product of the
        required standard, is a structured management system. With regards to
        medical devices, there is no standard that better represents the
        requirements for a comprehensive management system than ISO 13485.
        Compliance with ISO 13485 is often seen as the first step in achieving
        compliance with regulatory requirements.
      </p>

      <p>
        Increasingly, certification to ISO 13485 is becoming the preferred
        method for medical device manufacturers and their sub tier
        suppliers/contractors to demonstrate the intent to comply with
        applicable regulatory and statutory requirements. Medical device
        manufacturers who are placing their products on the market within the
        European Union will need to address compliance with the requirements of
        the applicable Medical Device Directive and the CE marking process. ISO
        13485 is recognized as an aid in supporting compliance with the MDD.
      </p>
      {
        mdqmsCourseCardData.map((course) => {
          return (
            <CourseCard
              name={course.name}
              description={course.description}
              duration={course.duration}
              deliveryMethods={course.deliveryMethods}
              certifier={course.certifier}
              cqiID={course.cqiID}
              url={course.url}
            />
          );
        })
      }
    </Container>
  </div>

  <div id="top-jump">
    <a href="#quick-links"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        ><path
          fill="currentColor"
          d="m12 10.8l-4.6 4.6L6 14l6-6l6 6l-1.4 1.4l-4.6-4.6Z"></path></svg
      >
    </a>
  </div>
</Layout>

<style>
  h2:not(:first-of-type) {
    margin-top: 3rem;
    scroll-margin-top: 2rem;
  }

  .course-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
  }

  .course-grid > aside {
    align-self: right;
  }

  #top-jump {
    display: none;
  }
  @media only screen and (max-width: 60rem) {
    .course-grid {
      grid-template-columns: 1fr;
      justify-content: center;
    }
    .course-grid > div:first-child {
      position: static;
    }
    #top-jump {
      display: fixed;
      left: 0;
      right: 0;
      bottom: 2rem;
    }
  }

  .course-grid > div:first-child {
    height: 100%;
  }
</style>

<script>
  const asideLinks = document.querySelectorAll(".standard-links");
  const navBar = document.querySelector("nav");

  asideLinks.forEach((link) => {
    setTimeout(() => {
      navBar.style.top = "-5rem";
    }, 300);
  });
</script>
